<header class="navbar" [class.hide]="isHidden">
  <div class="container">
    <div class="logo" (click)="goHome()">LAYERZERO</div>

    <nav class="nav-links">
      <a href="#">Home</a>
      <a href="#features">Features</a>
      <div class="dropdown">
        <a href="#industries-section">Industries</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/industries/mining">Mining</a></li>
          <li><a routerLink="/industries/defence">Defence</a></li>
          <li><a routerLink="/industries/disaster-management">Disaster Management</a></li>
          <li><a routerLink="/industries/agriculture">Agriculture</a></li>
          <li><a routerLink="/industries/environmental-sustainability">Sustainability</a></li>
          <li><a routerLink="/industries/oil-gas">Oil & Gas</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <a href="javascript:void(0)">Workflow</a>
       <ul class ="dropdown-menu">
         <li><a routerLink="/industries/mining/usecase1">Mining</a></li>
         <li><a routerLink="/industries/defence/usecase2">Defence</a></li>
         <li><a routerLink="/industries/disaster-management/usecase2">disaster-management</a></li>
         <li><a routerLink="industries/oil-gas/usecase1">oil-gas</a></li>
       </ul>
      </div>
      <a routerLink="/about-us">About Us</a>
      <a routerLink="/how-we-work">HowWeWork</a>
    </nav>
  </div>
</header>
