<div class="agriculture-page">
  <div class="container">

    <!-- HERO SECTION -->
    <section class="hero">
      <h1 class="section-title">
        Oil & <span class="highlight">Gas</span>
      </h1>
      <p class="section-subtitle">
        Modern oil & gas operations require accurate subsurface insights, asset monitoring,
        and geospatial intelligence to improve exploration success, enhance safety,
        and optimize production. Our geospatial AI platform enables smarter energy decisions.
      </p>
    </section>

    <!-- APPLICATIONS OVERVIEW (3 CARDS) -->
    <section class="overview card-grid">
      <div class="card">
        <h3>Seismic Feature Extraction</h3>
        <!-- <p>
          Monitor crop stress, disease, and growth stages using satellite and drone imagery.
        </p> -->
        <button class="primary-btn" (click)="goToUsecase('seismic_feature_extraction')">Explore</button>
      </div>

      <div class="card">
        <h3>Seismic Data Analysis</h3>
        <!-- <p>
          Analyze soil health, moisture levels, and nutrient distribution for optimized irrigation.
        </p> -->
        <button class="primary-btn" (click)="goToUsecase('seismic_data_analysis')">Explore</button>
      </div>

      <div class="card">
        <h3>Wellbore Stability/Reservior Geomechanics</h3>
        <!-- <p>
          Predict crop yield and harvest timelines using historical and real-time geospatial data.
        </p> -->
        <button class="primary-btn" (click)="goToUsecase('wellbore')">Explore</button>
      </div>

      <div class="card">
        <h3>Landscape Evolution Modelling</h3>
        <!-- <p>
          Predict crop yield and harvest timelines using historical and real-time geospatial data.
        </p> -->
        <button class="primary-btn" (click)="goToUsecase('landscape_evoultion_modelling')">Explore</button>
      </div>
    </section>

    <!-- WORKFLOWS OVERVIEW -->
    <section class="workflows soft-box">
      <h2 class="section-title" style="font-size: 36px; text-align:left;">
        Applications & <span class="highlight">Workflows</span>
      </h2>

      <ul class="workflow-list">
        <li>Seismic data analysis & site evaluation</li>
        <li>Infrastructure inspection & leak detection</li>
        <li>Production optimization & safety monitoring</li>
      </ul>
    </section>

    <!-- CTA SECTION -->
    <section class="cta">
      <button class="secondary-btn" (click)="goToIndustries()">
        Explore Other Industries
      </button>
      <button class="primary-btn" (click)="goToHowWeWork()">
        Want to work with Lizo AI?
      </button>
    </section>

  </div>
</div>
