<section class="research-collaborations">
  <div class="container">
    <header class="section-header">
      <h3 class="title">Our Partners</h3>
    </header>

    <div class="collaboration-grid">
      <div class="grid-item">
        <img src="assets/our_partner/iit.png" alt="IIT Roorkee" class="partner-logo">
      </div>

      <div class="grid-item">
        <img src="assets/our_partner/sydney.png" alt="University of Sydney" class="partner-logo">
      </div>

      <div class="grid-item">
        <img src="assets/our_partner/startflow.png" alt="Strat Flow" class="partner-logo">
      </div>
    </div>
  </div>
</section>