<div class="agriculture-page">
  <div class="container">

    <!-- HERO SECTION -->
    <section class="hero">
      <h1 class="section-title">
        Disaster Management     <!-- <span class="highlight">Precision Farming</span> -->
      </h1>
      <p class="section-subtitle">
        Effective disaster management requires real-time monitoring, early warnings,
        and accurate geospatial insights to reduce impact, improve response time,
        and support recovery efforts. Our geospatial AI platform enables faster,
        smarter emergency decision-making.
      </p>
    </section>

    <!-- APPLICATIONS OVERVIEW (3 CARDS) -->
    <section class="overview card-grid">
      <div class="card">
        <h3>GLOF</h3>
        <!-- <p>
          Monitor crop stress, disease, and growth stages using satellite and drone imagery.
        </p> -->
        <button class="primary-btn" (click)="goToUsecase('glof')">Explore</button>
      </div>

      <div class="card">
        <h3>Flood Induntation Modelling</h3>
        <!-- <p>
          Analyze soil health, moisture levels, and nutrient distribution for optimized irrigation.
        </p> -->
        <button class="primary-btn" (click)="goToUsecase('flood_induntation')">Explore</button>
      </div>
    </section>

    <!-- WORKFLOWS OVERVIEW -->
    <section class="workflows soft-box">
      <h2 class="section-title" style="font-size: 36px; text-align:left;">
        Applications & <span class="highlight">Workflows</span>
      </h2>

      <ul class="workflow-list">
        <li>Flood, wildfire & cyclone impact analysis</li>
        <li>Post-disaster damage mapping</li>
        <li>Relief operations coordination</li>
      </ul>
    </section>

    <!-- CTA SECTION -->
    <section class="cta">
      <button class="secondary-btn" (click)="goToIndustries()">
        Explore Other Industries
      </button>
      <button class="primary-btn" (click)="goToHowWeWork()">
        Want to work with Lizo AI?
      </button>
    </section>

  </div>
</div>
