<section class="hero" id="home">
    <div class="hero-container">
      <h1 class="hero-title">
        Cognitive Geospatial Infrastructure<br />
        <span>for Mission-Critical Intelligence</span>
      </h1>
  
      <p class="hero-subtitle">
        Advanced geospatial intelligence platform combining satellite imagery,
        machine learning, and autonomous processing pipelines to transform complex
        spatial data into real-time operational intelligence.
      </p>
    </div>
  

    <div class="video-wrapper">
      <video 
        #myVideo
        autoplay 
        loop 
        muted 
        playsinline 
        preload="auto"
        class="geospatial-video">
        <source src="/assets/lizo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="features-grid">
        <div class="feature-card">
          <!-- <div class="icon">🤖</div>--> <h3>Explainable AI</h3> 
          <p>Every outcome with a chain of logic and explanation in human terms to deepen trust.</p>
        </div>
      
        <div class="feature-card">
          <!-- <div class="icon">👁️</div> -->
          <h3>Explore & Visualize</h3>
          <p>Build custom machine learning models to analyze data, predict outcomes and create processes.</p>
        </div>
      
        <div class="feature-card">
          <!-- <div class="icon">⚡</div> -->
          <h3>Real time insights</h3>
          <p>Accelerate your decision making with high precision spatial data and automated insights.</p>
        </div>
      
        <div class="feature-card">
          <!-- <div class="icon">🖥️</div> -->
          <h3>Integrated Workspace</h3>
          <p>Streamline the entire process of data analysis, visualization and interpretation on a single interface.</p>
        </div>
      </div>

</section>
  
  