/* You can add global styles to this file, and also import other style files */
.industry-page {
    padding-top: 120px;
    min-height: 100vh;
    padding-bottom: 120px;
    background: #0b0f1a;
    color: #fff;
  }
  